.middleSquare {
    height: 180px;
    width: 58%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 160px;
}

.contactSquare {
    height: 746px;
    width: 58%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.graphicSquare {
    height: 382px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 26px;
}

.circleImage {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin: auto;
    border: 2px solid white;
}

.middleText {
    font-size: 32px;
    font-style: italic;
    font-family: Helvetica, Arial;
    margin-top: -160px;
}

.middleParagraph {
    color: white;
    font-size: 20px;
    font-family: Helvetica, Arial;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
}

.content {
    width: 100%;
    height: calc(100% - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    height: 100px;
    width: 95%;
    border-bottom: 2px solid white;
    margin-left: 2.3%;
    display: flex;
    flex-direction: row;
}

.headerTitle {
    width: 420px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headerMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    margin-left: auto;
    height: 100px;
    width: fit-content;
    float: right;
}

#headerClickable:hover {
    cursor: pointer;
    color: #2f68a1;
}

#textLink {
    color: white;
    text-decoration: underline;
}

#textLink:hover {
    cursor: pointer;
    color: #2f68a1;
}

#textLink:visited {
    color: white;
    text-decoration: underline;
}

.footer {
    width: 95%;
    height: 100px;
    margin-left: 2.3%;
    align-items: center;
    border-top: 2px solid white;
}

.footLeft {
    width: 70%;
    height: 100%;
    float: left;
}

.footRight {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 10%;
    height: 100px;
    float: right;
    margin-right: 36px;
}

.socialLogo {
    height: 32px;
    width: 32px;
    margin: auto;
}

#tuftsLogo {
    height: 100px;
    width: 150px;
    align-self: flex-start;
    margin-left: 14px;
}

.headerMenuSmall {
    align-self: center;
    align-items: center;
    justify-content: right;
    flex-direction: column;
    display: none;
    height: 36px;
    width: 36px;
    border: 1px solid white;
    margin-left: auto;
    margin-right: 72px;
}

.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.backupMenuIcon {
    height: 36px;
    width: 36px;
    display: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.headerMenuSmall:hover .dropdown-content {display: block;}

li {
    color: white;
    font-size: 20px;
    font-family: Helvetica, Arial;
}

iframe {
    margin: 3%;
    border: 8px solid white;
    border-radius: 4px;
}

h1 {
    font-size: 40px;
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    color: white;
}

h2 {
    font-size: 24px;
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin: auto;
    font-weight: 100;
}

hr {
    width: 90%;
    border: 1px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    margin: auto;
    text-decoration: none;
}

body {
    background-color: #418FDE;
    width: 100%;
    height: 100%;
}

* {
    padding: 0px;
    margin: 0px;
}

@media (max-width: 1260px) {
    h1 { font-size: 28px; }
    .headerMenu     { display: none; }
    .headerMenuSmall { display: flex; }
    .backupMenuIcon {  display: flex; }
    .middleSquare { width: 80%; }
    .middleText { font-size: 32px; }
    .middleParagraph { font-size: 20px; }
    .circleImage {
        width: 240px;
        height: 240px;
        border-radius: 120px;
        margin: auto;
        border: 2px solid white;
    }
    .footRight {
        width: 20%;
    }
}

@media (max-width: 800px) {
    .middleSquare { width: 80%; }
    .middleText { 
        font-size: 28px;  
        padding-top: 0px;
    }
    .middleParagraph { font-size: 18px; }
    .circleImage {
        width: 160px;
        height: 160px;
        border-radius: 80px;
        margin: auto;
        border: 2px solid white;
    }
    .contactSquare {
        width: 80%;
        padding-top: 0px;
    }
    li {
        font-size: 20px;  
    }
    .footRight {
        width: 20%;
    }
    .socialLogo {
        height: 24px;
        width: 24px;
    }
}

@media (max-width: 650px) {
    .middleSquare { width: 80%; }
    .middleText { 
        font-size: 22px;    
        padding-top: 20px; 
    }
    .middleParagraph { font-size: 14px; }
    .contactSquare {
        width: 80%;
        padding-top: 20px;
    }
    li {
        font-size: 16px;  
    }
    .headerMenuSmall {
        margin-right: 36px;
    }
}